@charset "UTF-8";
:root {
  --main-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* Цвет основного текста rgba(117, 117, 117, 1)  */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* цвет фона верхнего блока с кнопкой и футера #2F303A */
/* вторичный цвет фона #F5F4FA */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: #ffffff;
  margin: 0px;
  display: inline-block;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: var(--main-text-color);
  font-family: roboto, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
}

.link {
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.menu-button {
  display: inline-flex;
  align-items: baseline;
  margin: 10px 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-cont {
    z-index: 2;
    background-color: #ffffff;
    padding: 32px 40px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 796px;
  }
  .menu-cont.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .menu-cont {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu-cont {
    display: flex;
  }
}

.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    position: absolute;
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    min-height: 581px;
    max-width: 528px;
    width: 100%;
  }
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin: 12px 0px 20px;
  display: block;
}

.user-info {
  display: flex;
  flex-direction: column;
}
.user-info:not(:last-child) {
  margin-bottom: 10px;
}

.user-info input {
  padding: 11px 12px 11px 42px;
  background-color: transparent;
}

.user-info label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-form,
.comment-area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:hover,
.comment-area:hover,
.input-form:focus,
.comment-area:focus {
  border: 1px solid var(--accent-color);
}

.icon-input {
  position: relative;
  align-items: center;
}

.input-icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: -2px;
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-form:hover + .input-icon, .input-form:focus + .input-icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
  background-color: transparent;
}
.user-info textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-area {
  height: 120px;
  padding: 12px 16px;
}

.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-right: 11px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .agreement-checkbox {
    padding-right: 0;
  }
}

.checkbox {
  appearance: none;
  /* ----visually-hidden-----
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  /* position: relative; */
  display: flex;
  align-items: center;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-text::before {
  content: "";
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  left: 14px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .agreement-text::before {
    top: -2px;
    left: 0;
  }
}
.checkbox:focus + .agreement-text {
  background-color: transparent;
  outline: 1px solid var(--accent-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .agreement-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 0;
  }
}

.agreement-text a {
  color: var(--accent-color);
  text-decoration: underline;
}

.checkbox:checked + .agreement-text::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: var(--accent-color);
}

/* .agreement-checkbox input[type="checkbox"] {
} */
.btn-submit {
  display: inline-block;
  justify-content: center;
  padding: 10px 55px;
  margin: 30px 124px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .btn-submit {
    margin: 30px 85px 0;
  }
}

.logo-up {
  display: inline-block;
  margin: auto 0;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  flex-grow: 1;
}

.another-color {
  color: var(--accent-color);
}

.page-header {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    justify-content: space-between;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 1;
    margin-top: auto 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation .site-nav {
    display: block;
    position: relative;
    row-gap: 32px;
  }
  .navigation .site-nav .link:hover, .navigation .site-nav .link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .navigation .site-nav {
    display: flex;
    gap: 50px;
    margin-left: 88px;
    position: relative;
  }
  .navigation .site-nav .link:hover, .navigation .site-nav .link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .navigation .site-nav {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    position: relative;
  }
  .navigation .site-nav .link:hover, .navigation .site-nav .link:focus {
    color: var(--accent-color);
  }
}

.site-nav .link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .site-nav .link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    gap: 32px;
    color: #212121;
  }
}
.item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav-link.link {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .nav-link.link {
    padding: 32px 0;
  }
}

.current::after {
  content: "";
  position: absolute;
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.current.nav-link {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    margin-top: 270px;
    flex-direction: column-reverse;
    gap: 32px;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: 305px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 30px;
    justify-content: baseline;
  }
}

.contacts-item {
  display: flex;
}

.contacts-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-mail-tel:hover .contacts-icon, .top-mail-tel:focus .contacts-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts.list {
    gap: 10px;
    margin-left: 84px;
    margin-bottom: auto;
    margin-top: auto;
    justify-content: center;
  }
}
.top-mail-tel {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.top-mail-tel:hover, .top-mail-tel:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .top-mail-tel {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .top-mail-tel {
    flex-direction: row;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts.list {
    margin-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .mob-contact {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mail-contact {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .contacts-icon {
    display: none;
  }
  .contacts.list {
    margin-top: 302px;
  }
}
.menu-soclist.list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .menu-soclist.list {
    display: none;
  }
}

.soclist-item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #2196F3;
}
.soclist-item-link::after {
  content: "";
  display: inline-block;
  align-items: baseline;
  left: 214px;
  top: 726px;
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.hero {
  padding-top: 108px;
  padding-bottom: 198px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/hero-bg.jpg);
  }
}

.hero-text {
  max-width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  /* padding-top: 200px; */
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero-text {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button-order {
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  min-width: 200px;
}

.principles {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .principles {
    padding: 94px 0;
  }
}

.principles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.principles-list__principles-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .principles-list__principles-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .principles-list__principles-item {
    width: calc((100% - 90px) / 4);
  }
}

.principles-list__principles-icon-space {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principles-list__principles-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .principles-list__principles-title {
    text-align: start;
  }
}

.principles-list__principles-text {
  width: 100%;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.activity-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.activity-item {
  width: 370px;
  position: relative;
}

.activity-label {
  width: inherit;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.activity-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team.section {
  background-color: #f5f4fa;
  margin: 0 auto;
  flex-grow: 1;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1600px) {
  .team-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-list__item {
  width: 100%;
  height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-item__team-signature {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-item__team-name {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-item__team-position {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients-title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .project-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    width: calc((100% - 60px) / 3);
  }
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-link:hover .project-overlay-text, .card-link:focus .project-overlay-text {
  transform: translateY(0);
}

.project-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.signature {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.card-link {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  display: block;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    margin: 0 auto;
  }
}

.contacts-enjoy {
  display: flex;
}
@media screen and (min-width: 480px) {
  .contacts-enjoy {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-enjoy {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-enjoy {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 480px) {
  .contacts-address {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts-address {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-address {
    text-align: start;
    flex-grow: 1;
  }
}

.logo-down {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .logo-down {
    font-size: 26px;
    line-height: 1.19;
    align-items: baseline;
    text-align: start;
  }
}

.contacts-address__address {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts-address__address {
    flex-grow: 1;
    align-items: baseline;
    text-align: start;
  }
}

.address-title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail,
.tel {
  display: inline-block;
  margin: 8px 0 0 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover, .mail:focus,
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .mail,
.tel {
    margin: 9px 0 0 0;
  }
}

.enjoy {
  width: 206px;
  padding: 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .enjoy {
    margin-left: 70px;
  }
}

.enjoy-text,
.subscribe-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .enjoy-text,
.subscribe-text {
    text-align: left;
  }
}

.enjoy-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.enjoy-soc-item {
  width: 44px;
  height: 44px;
}

.enjoy-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.enjoy-soc-link:hover, .enjoy-soc-link:focus {
  background-color: var(--accent-color);
}

.enjoy-soc-icon {
  fill: #ffffff;
}

.subscribe {
  padding: 0;
}
@media screen and (min-width: 480px) {
  .subscribe {
    width: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
  }
}

.subscribe-email {
  width: 100%;
  min-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-email {
    width: 358px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .subscribe-wrap {
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-wrap {
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-wrap {
    display: flex;
    flex-direction: row;
  }
}

.subscribe-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 480px) {
  .subscribe-btn {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin: 0;
  }
}

.telegram-icon {
  display: flex;
  position: absolute;
  top: 25%;
  left: 75%;
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */