.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 93px 30px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  // max-width: 450px;
  // min-height: 609px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  padding: 40px;
  .backdrop.is-hidden & {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
}
  @media screen and (min-width: 480px) 
  and (max-width: 1199px) {
    position: absolute;
    max-width: 450px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    min-height: 581px;
    max-width: 528px;
    width: 100%;
  }

}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
  fill: var(--accent-color);
}
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23px / 20px);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin: 12px 0px 20px;
  display: block;
}

.user-info {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
  margin-bottom: 10px;
}
}

.user-info input {
  padding: 11px 12px 11px 42px;
  background-color: transparent;
}

.user-info label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

  .input-form,
  .comment-area {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    outline: none;
    cursor: pointer;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-form:hover,
  .comment-area:hover,
  .input-form:focus,
  .comment-area:focus {
    border: 1px solid var(--accent-color);
  }

.icon-input {
  position: relative;
  align-items: center;
}

.input-icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: -2px;
  fill: var(--title-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .input-form:hover + &,
    .input-form:focus + & {
  fill: var(--accent-color);
  }
}

textarea {
  resize: none;
  background-color: transparent;
  .user-info &::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
}

.comment-area {
  height: 120px;
  padding: 12px 16px;
}

.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-right: 11px;

  @media screen and (min-width: 480px) 
    and (max-width: 1199px) {
    padding-right: 0;
  }
}

.checkbox{
  appearance: none;
  /* ----visually-hidden-----
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  /* position: relative; */
  display: flex;
  align-items: center;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
    content: "";
    display: block;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 14px;

      @media screen and (min-width: 480px) 
    and (max-width: 1199px) {
    top: -2px;
    left: 0;
  }
    }
    .checkbox:focus + & {
    background-color: transparent;
    outline: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 480px) 
    and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 0;
  }
}

.agreement-text a {
    color: var(--accent-color);
    text-decoration: underline;
}

.checkbox:checked + .agreement-text::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: var(--accent-color);
}

/* .agreement-checkbox input[type="checkbox"] {
} */

.btn-submit {
  display: inline-block;
  justify-content: center;
  padding: 10px 55px;
  margin: 30px 124px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  font-weight: 700;

  @media screen and (min-width: 480px) {
    margin: 30px 85px 0;
  }
}
