:root {
  --main-text-color: rgba(117, 117, 117, 1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* Цвет основного текста rgba(117, 117, 117, 1)  */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* цвет фона верхнего блока с кнопкой и футера #2F303A */
/* вторичный цвет фона #F5F4FA */
