.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }
}

.contacts-enjoy {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.contacts-enjoy .enjoy {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.contacts-address {
  text-align: center;
  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    flex-grow: 1;
  }
}

.logo-down {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    align-items: baseline;
    text-align: start;
  }
}

.contacts-address__address {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    align-items: baseline;
    text-align: start;
    margin-bottom: 0;
  }
}

.address-title {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  // text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail,
.tel {
  display: inline-block;
  margin: 8px 0 0 0;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    margin: 9px 0 0 0;
  }
}

.enjoy {
  width: 206px;
  padding: 0;
  margin-bottom: 60px;
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    justify-content: left;
  }
}

.enjoy-text,
.subscribe-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;

  margin-top: 0;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.enjoy-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.enjoy-soc-item {
  width: 44px;
  height: 44px;
  // margin-left: 10px;
}

// .enjoy-soc-item:first-child {
//   margin-left: 0;
// }

.enjoy-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.enjoy-soc-icon {
  fill: #ffffff;
}

.subscribe {
  padding: 0;

  @media screen and (min-width: 480px) {
    width: 100%;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    width: 570px;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
  }
}

.subscribe-email {
  width: 100%;
  min-height: 50px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    // margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe-wrap {
  @media screen and (min-width: 480px) {
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.subscribe-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 28px 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;

  @media screen and (min-width: 480px) {
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}

.telegram-icon {
  display: flex;
  position: absolute;
  top: 25%;
  left: 75%;
  fill: #ffffff;
}
