.principles {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.principles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.principles-list__principles-item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
  // min-width: 270px;
}

// .principles-list__principles-item:not(:last-child) {
//   // margin-right: 30px;
// }

.principles-list__principles-icon-space {
  width: 100%;
  // min-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principles-list__principles-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.principles-list__principles-text {
  width: 100%;
  // min-width: 270px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
